.App {
  max-width: 860px;
  margin: 40px auto;
  font-family: F1Font;
}

/*FONT*/
@font-face {
  font-family: F1Font;
  src: url(Formula1-Font.ttf);
}

button {
  background: none;
  border: 2px solid black;
  padding: 6px 12px;
  border-radius: 4px;
  color: black;
  font-family: F1Font;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;  
}

button:hover {
  background-color: #011627;
  color: white;
}